**/.env
**/.env.*
!**/.env.template

**/node_modules
**/.next
**/.turbo
apps/backend/.medusa

.git
.gitignore
**/*.pem
**/*.key
**/id_rsa*
**/.npmrc
**/.aws
**/.ssh

.github
deploy
docker-compose*.yml

**/.DS_Store
**/npm-debug.log*
**/*.tsbuildinfo
**/coverage
.run
